.feed{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    
}

main{
        grid-column: 2;
        display: grid;
        
}

.card{
    padding: 10px;
}

.postBody{
    justify-self: center;
}

.post{
    justify-self: center;
    display: grid;
    grid-row: auto auto auto auto;
}
.card-body{
    display: grid;
    grid-template-rows: auto auto;
}

.card-text{
    grid-row: 3;
}

.like{
    grid-row: 4;
    justify-self: left;
    align-self: baseline;
}

.user{
    grid-row: 1;
}


